{% extends 'base.html.twig' %}

{% block title 'List of movies' %}

{% block main %}
    <div class="album py-5 bg-light">
        <div class="container">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">My Gallery</h1>
                        <p>
                            <a href="{{ path('app_movies_new') }}" class="btn btn-primary my-2">Add a movie</a>
                        </p>
                    </div>
                </div>
            </section>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for movie in movies %}
                    <div class="col">
                        <div class="card shadow-sm">
                            {% set imagePath = movie.isRemotePoster ? movie.poster : asset('build/images/movies/' ~ movie.poster) %}
                            <img src="{{ imagePath }}" />
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="badge bg-primary">{{ movie.rated.value }}</span>
                                    {% for genre in movie.genres %}
                                        <span class="badge bg-dark">{{ genre }}</span>
                                    {% endfor %}
                                <h3><a href="{{ path('app_movies_edit', {'slug': movie.slug}) }}"><i class="fa fa-edit"></i></a>{{ movie.title|title }}</h3>{{ movie.plot|u.truncate(300, '...', false) }}
                                </p>
                                <a href="{{ path('app_movies_details', {slug: movie.slug}) }}">Voir plus</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">{{ movie.year }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
